[Unit]
Description=example.com Kestrel Service  

[Service]
WorkingDirectory=/var/www/example.com/www
ExecStart=/usr/bin/dotnet /var/www/example.com/www/WebApplication.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example-com
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://localhost:5000

[Install]
WantedBy=multi-user.target